node_modules
.DS_Store
app/dist
app/dist-server
contracts/build
.env
.vscode

# Private keys
.keys/
*.key

# movies (.mp4) and thumbnailsfor depoly to walrus
app/public/assets

# Configuration files with sensitive data
app/src/config.json
